---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/layout/ContactForm.astro";
---

<BaseLayout>
    <main>
        <ContactForm />
    </main>
</BaseLayout>
