---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/layout/ContactForm.astro";
import IndustryTrustBar from "../components/layout/IndustryTrustBar.astro";
---

<BaseLayout
    title="Contact BuildPro - Get Your Digital Solution Today"
    description="Ready to transform your contracting business? Contact BuildPro today for a free consultation and discover how we can help you reach more customers online."
>
    <main>
        <ContactForm />
        <IndustryTrustBar />
    </main>
</BaseLayout>
