---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/layout/ContactForm.astro";
import IndustryTrustBar from "../components/layout/IndustryTrustBar.astro";
---

<BaseLayout>
    <main>
        <ContactForm />
        <IndustryTrustBar />
    </main>
</BaseLayout>
