---
import BaseLayout from "../layouts/BaseLayout.astro";
import FAQ from "../components/layout/FAQ.astro";
import Hero from "../components/layout/Hero.astro";
import CoreSteps from "../components/layout/CoreSteps.astro";
import CTASection from "../components/layout/CTASection.astro";
import Reviews from "../components/layout/Reviews.astro";
import Trades from "../components/layout/Trades.astro";
import Statistics from "../components/layout/Statistics.astro";
import OurWork from "../components/layout/OurWork.astro";
import CallBanner from "../components/layout/CallBanner.astro";
---

<BaseLayout>
    <main>
        <Hero />
        <Statistics />
        <Reviews />
        <Trades />
        <CallBanner />
        <OurWork />
        <FAQ />
        <CTASection />
    </main>
</BaseLayout>
